<h1>This is Admin dashboard</h1>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">All Users</div>
    <div class="panel-body">
      <p>We need a search box in here to search for user</p>
    </div>
    <table class="table">
    <tr>
      <th>User ID</th>
      <th>Username</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Email</th>
    </tr>
    <% @all_users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.username %></td>
        <td>First name</td>
        <td>Last name</td>
        <td><%= user.email %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>

<h2>Create new user</h2>

<%= form_for(:user, url: admin_register_path, :validate => true) do |f| %>
  
  <div>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </div>

  <div>
    <%= f.label :email %><br />
    <%= f.email_field :email %>
  </div>

  <div>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>

  <div>
    <%= f.label :password_confirmation, "Password confirmation" %><br />
    <%= f.password_field :password_confirmation %>
  </div>

  <div>
    <%= f.select :role, options_for_select(["Student","Faculty","Admin"]) %>
  </div>

  <div><%= f.submit "Sign up" %></div>
<% end %>
