<div class="container">
  <%= form_for(:user, url: admin_register_path, :validate => true, :class => 'form-horizontal') do |f| %>
    <div class="form-group row col-md-8">
      <div class="col-md-5">
        <%= f.label :full_name %>
      </div>
      <div class="col-md-7">
        <%= "#{@patient.first_name} #{@patient.last_name}" %>               
      </div>
    </div>
    <div class="form-group row col-md-8">
      <div class="col-md-5">
        <%= f.label "Date of Birth" %>
      </div>
      <div class="col-md-7">
        <%= @patient.dob.to_date %>
      </div>
    </div>
    <div class="form-group row col-md-8">
      <div class="col-md-5">
        <%= f.label :gender %>
      </div>
      <div class="col-md-7">
        <%= @patient.gender %>
      </div>
    </div>
    <div class="form-group row col-md-8">
      <div class="col-md-5">
        <%= f.label :site_location %>
      </div>
      <div class="col-md-7">
        <%= f.select :role, options_for_select(["Location 1", "Location 2"]) %>
      </div>
    </div>
    <div class="form-group row col-md-8">
      <div class="col-md-5">
        <%= f.label :parental_permission %>
      </div>
      <div class="col-md-7">
        <input type="checkbox" name="parental-permission">
      </div>
    </div>
    <div class="form-group row col-md-8">
      <div class="col-md-5">
        <%= f.label :allergies %>
      </div>
      <div class="col-md-7">
        <textarea placeholder="Allergies" id="user_allergies" class="form-control" rows="2"></textarea>
      </div>
    </div>
    <div class="form-group row col-md-8">
      <div class="col-md-5">
        <%= f.label :reaction_type %>
      </div>
      <div class="col-md-7">
        <textarea placeholder="Reactions" id="reaction_type" class="form-control" rows="2"></textarea>
      </div>
    </div>
    <div class="form-group row col-md-12">
      <div class="col-md-12"> 
        <button type="submit" class="btn btn-success">Save</button>
        <button type="submit" class="btn btn-success">Save &amp; Next</button>
        <button type="button" class="btn btn-danger pull-right">Exit</button>
      </div>
    </div>

  <% end %>
</div>


<script>
  $(".demographics").addClass("active");
</script>