<div class="demographics-container show" style="margin-top:1rem;">
  <div class="container">
    <%= form_for(:patient_record, url: patient_update_path, type: "demographics", :validate => true, :class => 'form-horizontal') do |f| %>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :site_location %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :site_location, :class => "form-control", :value => "Cox Elementary School" %>  
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :allergies %>
        </div>
        <div class="col-md-7">
          <textarea placeholder="Allergies" name="patient_record[allergies]" class="form-control" rows="2"></textarea>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :reaction_type %>
        </div>
        <div class="col-md-7">
          <textarea placeholder="Reactions" id="reaction_type" class="form-control" rows="2"></textarea>
        </div>
      </div>
      <div class="form-group row col-md-12">
        <hr>
        <label>Immunizations Received</label>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :utd, "UTD" %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" id="utd">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :dtap, "DTaP" %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" name="dtap" class="imm">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :hib, "HiB" %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" name="hib" class="imm">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label "Pneumovax" %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" name="pneumovax" class="imm">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :hepa, "HepA" %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" name="hepA" class="imm">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :hepb, "HepB" %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" name="hepB" class="imm">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label "Influenza" %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" name="influenza" class="imm">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :mmr, "MMR" %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" name="mmr" class="imm">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :men, "Men" %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" name="men" class="imm">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label "Additional Immunizations" %>
        </div>
        <div class="col-md-7">
          <textarea placeholder="Additional Immunizations" class="form-control" rows="2"></textarea>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label "Additional Notes" %>
        </div>
        <div class="col-md-7">
          <textarea placeholder="Additional Notes" class="form-control" rows="2"></textarea>
        </div>
      </div>
      <div class="form-group row col-md-12">
        <hr>
        <div class="container col-md-8">
          <label class="col-md-5">Working Practitioner(s)</label>
          <div class="col-md-7">
            <%= f.text_field :practitioner, :class => "form-control", :value => "#{current_user.first_name} #{current_user.last_name}" %>
          </div>  
        </div>
      </div>
      <div class="form-group row col-md-12">
        <div class="col-md-12"> 
          <button type="submit" class="btn btn-success">Save &amp; Next</button>
          <button type="button" class="btn btn-danger pull-right exit">Exit</button>
        </div>
      </div>

    <% end %>
  </div>
</div>

<script>
  $(".demographics").addClass("active");
  $("#utd").change(function() {
    if ($(this).prop("checked")) {
      $(".imm").prop("checked", true);
    }
    else {      
      $(".imm").prop("checked", false);
    }
  });
</script>
