<div class="demographics-container show" style="margin-top:1rem;">
  <div class="container">
    <%= form_for(:user, url: admin_register_path, :validate => true, :class => 'form-horizontal') do |f| %>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :full_name %>
        </div>
        <div class="col-md-7">
          <%= "#{@patient.first_name} #{@patient.last_name}" %>               
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label "Date of Birth" %>
        </div>
        <div class="col-md-7">
          <%= @patient.dob.to_date %>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :gender %>
        </div>
        <div class="col-md-7">
          <%= @patient.gender %>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :site_location %>
        </div>
        <div class="col-md-7">
          <%= f.select :role, options_for_select(["Location 1", "Location 2"]) %>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :parental_permission %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" name="parental-permission">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :allergies %>
        </div>
        <div class="col-md-7">
          <textarea placeholder="Allergies" id="user_allergies" class="form-control" rows="2"></textarea>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :reaction_type %>
        </div>
        <div class="col-md-7">
          <textarea placeholder="Reactions" id="reaction_type" class="form-control" rows="2"></textarea>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label "UTD" %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" name="utd">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label "DTAP" %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" name="dtap">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label "HIB" %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" name="hib">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label "Pneumovax" %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" name="pneumovax">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label "HepA" %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" name="hepA">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label "HepB" %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" name="hepB">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label "Influenza" %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" name="influenza">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label "MMR" %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" name="mmr">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label "MMR" %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" name="mmr">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label "Additional Immunizations" %>
        </div>
        <div class="col-md-7">
          <textarea placeholder="Additional Immunizations" class="form-control" rows="2"></textarea>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label "Relevant information" %>
        </div>
        <div class="col-md-7">
          <textarea placeholder="Relevant information" class="form-control" rows="2"></textarea>
        </div>
      </div>
      <div class="form-group row col-md-12">
        <div class="col-md-12"> 
          <button type="submit" class="btn btn-success">Save</button>
          <button type="submit" class="btn btn-success">Save &amp; Next</button>
          <button type="button" class="btn btn-danger pull-right">Exit</button>
        </div>
      </div>

    <% end %>
  </div>
</div>

<script>
  $(".demographics").addClass("active");
</script>