<div class="demographics-container show" style="margin-top:1rem;">
  <div class="container">
    <%= form_for(:patient_record, url: patient_update_path, type: "demographics", :validate => true, :class => 'form-horizontal') do |f| %>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :site_location %>
        </div>
        <div class="col-md-7">
          <% site_location = @patient.site_location.nil? ? "Cox Elementary School" : @patient.site_location %>
          <%= f.text_field :site_location, :class => "form-control", :value => site_location %>  
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :allergies %>
        </div>
        <div class="col-md-7">
          <% allergies = @patient.allergies %>
          <textarea placeholder="Allergies" name="patient_record[allergies]" class="form-control" rows="2"><%= allergies %></textarea>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :reaction_type %>
        </div>
        <div class="col-md-7">
          <% reaction_type = @patient.reaction_type %>
          <textarea placeholder="Reactions" name="patient_record[reaction_type]" class="form-control" rows="2"><%= reaction_type %></textarea>
        </div>
      </div>
      <div class="form-group row col-md-12">
        <hr>
        <label>Immunizations Received</label>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :utd, "UTD" %>
        </div>
        <div class="col-md-7">
          <input type="checkbox" name="patient_record[utd]" id="utd">
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :dtap, "DTaP" %>
        </div>
        <div class="col-md-7">
          <% dtap = @patient.dtap %>          
          <%= check_box 'patient_record', 'dtap', {:checked => dtap, :class => "imm" }, 'true' %>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :hepa, "HepA" %>
        </div>
        <div class="col-md-7">
          <% hepa = @patient.hepa %>          
          <%= check_box 'patient_record', 'hepa', {:checked => hepa, :class => "imm" }, 'true' %>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :hepb, "HepB" %>
        </div>
        <div class="col-md-7">
          <% hepb = @patient.hepb %>          
          <%= check_box 'patient_record', 'hepb', {:checked => hepb, :class => "imm" }, 'true' %>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :hib, "HiB" %>
        </div>
        <div class="col-md-7">
          <% hib = @patient.hib %>          
          <%= check_box 'patient_record', 'hib', {:checked => hib, :class => "imm" }, 'true' %>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :mmr, "MMR" %>
        </div>
        <div class="col-md-7">
          <% mmr = @patient.mmr %>          
          <%= check_box 'patient_record', 'mmr', {:checked => mmr, :class => "imm" }, 'true' %>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :men, "MEN" %>
        </div>
        <div class="col-md-7">
          <% men = @patient.men %>          
          <%= check_box 'patient_record', 'men', {:checked => men, :class => "imm" }, 'true' %>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :pneumovax, "Pneumovax" %>
        </div>
        <div class="col-md-7">
          <% pneumovax = @patient.pneumovax %>          
          <%= check_box 'patient_record', 'pneumovax', {:checked => pneumovax, :class => "imm" }, 'true' %>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :influenza, "Influenza" %>
        </div>
        <div class="col-md-7">
          <% influenza = @patient.influenza %>          
          <%= check_box 'patient_record', 'influenza', {:checked => influenza, :class => "imm" }, 'true' %>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label "Additional Immunizations" %>
        </div>
        <div class="col-md-7">
          <% additional_immunizations = @patient.additional_immunizations %>
          <textarea placeholder="Additional Immunizations" name="patient_record[additional_immunizations]" class="form-control" rows="2"><%= additional_immunizations %></textarea>
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label "Additional Notes" %>
        </div>
        <div class="col-md-7">
          <% additional_notes = @patient.additional_notes %>
          <textarea placeholder="Additional Notes" name="patient_record[additional_notes]" class="form-control" rows="2"><%= additional_notes %></textarea>
        </div>
      </div>
      <div class="form-group row col-md-12">
        <hr>
        <div class="container col-md-8">
          <label class="col-md-5">Working Practitioner(s)</label>
          <div class="col-md-7">
            <% practitioner = @patient.practitioner.empty? ? "#{current_user.first_name} #{current_user.last_name}" : @patient.practitioner %>
            <%= f.text_field :practitioner, :class => "form-control", :value => practitioner %>
          </div>  
        </div>
      </div>
      <div class="form-group row col-md-12">
        <div class="col-md-12"> 
          <button type="submit" class="btn btn-success">Save &amp; Next</button>
          <button type="button" class="btn btn-danger pull-right exit">Exit</button>
        </div>
      </div>

    <% end %>
  </div>
</div>

<script>
  $(".demographics").addClass("active");
  $("#utd").change(function() {
    if ($(this).prop("checked")) {
      $(".imm").prop("checked", true);
    }
    else {      
      $(".imm").prop("checked", false);
    }
  });
</script>
