<div class="hearing-container show" style="margin-top:1rem;">
  <div class="container">
    <%= form_for(:patient_record, url: patient_update_record_path, type: "hearing", :validate => true, :class => 'form-horizontal') do |f| %>

      <div class="form-group row col-md-11">
        <div class="pull-right">   
          <% if !@patient.hearing.practitioner.empty? %>             
          <i>Last updated by <strong><%= @patient.hearing.practitioner %></strong> at <%= @patient.hearing.updated_at.in_time_zone("Eastern Time (US & Canada)") %></i>
          <% end %>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label :unable_to_screen, "Unable To Screen" %>
        </div>
        <div class="col-md-5">
          <% unable_to_screen = @patient.hearing.unable_to_screen %>
          <%= f.check_box :unable_to_screen, :checked => unable_to_screen, :id => "enableEntries" %>
          (Please explain in Comment Section)
        </div>
      </div>

      <div style="display:<%= @patient.hearing.unable_to_screen ? 'none' : 'default' %>" id="entries">
        <div class="row col-md-12"><hr></div>
        <div class="form-group row">
          <div class="col-md-3">
            <%= f.label :use_assitive_device, "Uses Hearing Aid/Assistive Device" %>
          </div>
          <div class="col-md-5">
            <% use_assitive_device = @patient.hearing.use_assitive_device %>
            <%= f.check_box :use_assitive_device, :checked => use_assitive_device %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3">
            <%= f.label :audiometer %>
          </div>
          <div class="col-md-5">
            <%= f.select :audiometer, options_for_select(["20 dB","25 dB"], @patient.hearing.audiometer), :class => 'form-control' %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3">
            <%= f.label :need_further_evaluation, "Need Further Evaluation" %>
          </div>
          <div class="col-md-5">
            <% need_further_evaluation = @patient.hearing.need_further_evaluation %>
            <%= f.check_box :need_further_evaluation, :checked => need_further_evaluation %>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-3">
            <%= f.label :under_professional_care, "Under Professional Care" %>
          </div>
          <div class="col-md-5">
            <% under_professional_care = @patient.hearing.under_professional_care %>
            <%= f.check_box :under_professional_care, :checked => under_professional_care %>
          </div>
        </div>
      </div>

      <div class="row col-md-12"><hr></div>
      <div class="form-group row">
        <div class="col-md-3">
          <%= f.label "Comment" %>
        </div>
        <div class="col-md-5">
          <% comment = @patient.hearing.comment %>
          <textarea placeholder="Comment" name="patient_record[comment]" class="form-control" rows="2"><%= comment %></textarea>
        </div>
      </div>
      <div class="form-group row col-md-12">
        <hr>
        <div class="container">
          <label class="col-md-3">Working Practitioner(s)</label>
          <div class="col-md-5">
            <% practitioner = @patient.hearing.practitioner.empty? ? "#{current_user.first_name} #{current_user.last_name}" : @patient.hearing.practitioner %>
            <%= f.text_field :practitioner, :class => "form-control", :value => practitioner, :placeholder => "Can't be blank" %>
          </div>  
        </div>
      </div> 

      <div class="form-group row col-md-12">
        <div class="col-md-12"> 
          <button type="submit" class="btn btn-success">Save &amp; Next</button>
          <button type="button" class="btn btn-danger pull-right exit">Exit</button>
        </div>
      </div>

    <% end %>
  </div>
</div>

<script>
  $(".hearing").addClass("active");
  $("#enableEntries").change(function() {
    $("#entries").toggle();
  });
</script>