<div class="vitals-container show" style="margin-top:1rem;">
  <div class="container">
    <%= form_for(:user, url: admin_register_path, :validate => true, :class => 'form-horizontal') do |f| %>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :height %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :height, :class => "form-control", :placeholder => "Height" %>            
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :weight %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :weight, :class => "form-control", :placeholder => "Weight" %>            
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :weight %>
        </div>
        <div class="col-md-7">
          Auto calculated BMI            
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :blood_pressure %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :blood_pressure, :class => "form-control", :placeholder => "Blood Pressure" %>      
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :blood_glucose %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :blood_glucose, :class => "form-control", :placeholder => "Blood Glucose" %>      
        </div>
      </div>
      <div class="form-group row col-md-8">
        <div class="col-md-5">
          <%= f.label :hemoglobin %>
        </div>
        <div class="col-md-7">
          <%= f.text_field :hemoglobin, :class => "form-control", :placeholder => "Hemoglobin" %>      
        </div>
      </div>


      <div class="form-group row col-md-12">
        <div class="col-md-12"> 
          <button type="submit" class="btn btn-success">Save</button>
          <button type="submit" class="btn btn-success">Save &amp; Next</button>
          <button type="button" class="btn btn-danger pull-right">Exit</button>
        </div>
      </div>

    <% end %>
  </div>
</div>

<script>
  $(".vitals").addClass("active");
</script>