<div class="container">
  <h1><%= "#{@patient.first_name} #{@patient.last_name}" %></h1>
  <div class="panel panel-info">
    <div class="panel-heading">Patient Information</div>  
    <div class="container"> 
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="btn-group">
          <button type="button" class="btn btn-default demographics">Demographics</button>
          <button type="button" class="btn btn-default vitals">Vitals</button>
          <button type="button" class="btn btn-default physical">Physical</button>
          <button type="button" class="btn btn-default hearing">Hearing</button>
          <button type="button" class="btn btn-default vision">Vision</button>
          <button type="button" class="btn btn-default assessment">Assessment</button>
        </div>
      </li>
      <li class="list-group-item"> 
        <label class="col-md-5">
          Full name
        </label>
        <%= "#{@patient.first_name} #{@patient.middle_name} #{@patient.last_name}" %> 
      </li>
      <li class="list-group-item"> 
        <label class="col-md-5">
          Date of birth
        </label>
        <% if @patient.is_under_2? %>
          <%= "#{@patient.dob.strftime('%B %d, %Y')}" %> 
          <strong><%= "(#{pluralize(@patient.month_age,'month')} old)" %></strong>
        <% else %>
          <% year = (Date.today - @patient.dob).to_i / 365 %>
          <% month = ((Date.today - @patient.dob).to_i / 30) % 12 %>
          <%= "#{@patient.dob.strftime('%B %d, %Y')}" %>
          <strong><%= "(#{pluralize(year, 'year')} #{pluralize(month,'month')} old)" %></strong>
        <% end %>
      </li>
      <% if @patient.is_child? %>
        <li class="list-group-item"> 
          <label class="col-md-5">
            Parent permission
          </label>
          <% if @patient.parent_permission.downcase == "limited" %>
            <%= "#{@patient.parent_permission} - #{@patient.parent_permission_desc}" %>
          <% else %>
            <%= @patient.parent_permission %>
          <% end %>
        </li>
      <% end %>
    </ul> 
    <div class="panel-body">
      <% if @patient.is_editable? %>
        <% if @type == "demographics" %>
          <%= render :partial => 'patient/demographics' %>
        <% elsif @type == "vitals" %>
          <%= render :partial => 'patient/vitals' %>
        <% elsif @type == "physical" %>
          <%= render :partial => 'patient/physical' %>
        <% elsif @type == "hearing" %>
          <%= render :partial => 'patient/hearing' %>
        <% elsif @type == "vision" %>
          <%= render :partial => 'patient/vision' %>
        <% elsif @type == "assessment" %>
          <%= render :partial => 'patient/assessment' %>
        <% end %>
      <% else %>
        <div>
          <%= form_for(:patient, url: patient_update_path, :validate => true, :class => "form-horizontal", :method => "put") do |f| %>
            <div class="form-group row col-md-8">
              <div class="col-md-5">
                <%= f.label :update_parent_permission %>
              </div>
              <div class="col-md-3">
                <%= f.select :parent_permission, options_for_select(["None", "Complete", "Limited"]) %>
              </div>
              <div class="col-md-4">          
                <%= f.text_field :parent_permission_desc, :class => "form-control", :disabled => "disabled", :placeholder => "If limited, explain here" %>
              </div>
            </div>
            <div class="form-group row col-md-12">
              <div class="col-md-12"> 
                <button type="submit" class="btn btn-success">Update</button>
                <button type="button" class="btn btn-danger pull-right exit">Exit</button>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  $(".vitals").click(function() {
    window.document.location = 'vitals'
  });
  $(".demographics").click(function() {
    window.document.location = 'demographics'
  });
  $(".physical").click(function() {
    window.document.location = 'physical'
  });
  $(".hearing").click(function() {
    window.document.location = 'hearing'
  });
  $(".vision").click(function() {
    window.document.location = 'vision'
  });
  $(".assessment").click(function() {
    window.document.location = 'assessment'
  });
  $(".exit").click(function() {
    window.document.location = '<%= student_dashboard_path %>'
  });
  $("#patient_parent_permission").change(function() {
    if ($(this).find(":selected").text() == "Limited") {
      $("#patient_parent_permission_desc").attr("disabled", false);
    }
    else {
      $("#patient_parent_permission_desc").attr("disabled", true); 
    }
  });

</script>

