<div class="container">
  <h1><%= "#{@patient.first_name} #{@patient.last_name}" %></h1>
  <div class="panel panel-info">
    <div class="panel-heading">Patient Information</div>  
    <div class="container"> 
    </div>
    <ul class="list-group">
      <li class="list-group-item">
        <div class="btn-group">
          <button type="button" class="btn btn-default demographics">Demographics</button>
          <button type="button" class="btn btn-default vitals">Vitals</button>
          <button type="button" class="btn btn-default physical">Physical</button>
          <button type="button" class="btn btn-default hearing">Hearing</button>
          <button type="button" class="btn btn-default vision">Vision</button>
          <button type="button" class="btn btn-default assessment">Assessment</button>
        </div>
      </li>
      <li class="list-group-item"> 
        <label class="col-md-5">
          Full name
        </label>
        <%= "#{@patient.first_name} #{@patient.middle_name} #{@patient.last_name}" %> 
      </li>
      <li class="list-group-item"> 
        <label class="col-md-5">
          Date of birth
        </label>
        <% if @patient.is_under_2? %>
          <%= "#{@patient.dob.strftime("%B %d, %Y")} (#{pluralize(@patient.month_age,'month')} old)" %>
        <% else %>
          <% year = (Date.today - @patient.dob).to_i / 365 %>
          <% month = ((Date.today - @patient.dob).to_i / 30) % 12 %>
          <%= "#{@patient.dob.strftime("%B %d, %Y")} (#{pluralize(year, 'year')} #{pluralize(month,'month')} old)" %>
        <% end %>
      </li>
      <% if @patient.is_under_18? %>
        <li class="list-group-item"> 
          <label class="col-md-5">
            Parent Permission
          </label>
          <% if @patient.parent_permission.downcase == "limited" %>
            <%= "#{@patient.parent_permission} - #{@patient.parent_permission_desc}" %>
          <% else %>
            <%= @patient.parent_permission %>
          <% end %>
        </li>
      <% end %>
    </ul> 
    <div class="panel-body">
      <% if @type == "demographics" %>
        <%= render :partial => 'patient/demographics' %>
      <% elsif @type == "vitals" %>
        <%= render :partial => 'patient/vitals' %>
      <% elsif @type == "physical" %>
        <%= render :partial => 'patient/physical' %>
      <% elsif @type == "hearing" %>
        <%= render :partial => 'patient/hearing' %>
      <% elsif @type == "vision" %>
        <%= render :partial => 'patient/vision' %>
      <% elsif @type == "assessment" %>
        <%= render :partial => 'patient/assessment' %>
      <% end %>

    </div>
  </div>
</div>

<script>
  $(".vitals").click(function() {
    window.document.location = 'vitals'
  });
  $(".demographics").click(function() {
    window.document.location = 'demographics'
  });
  $(".physical").click(function() {
    window.document.location = 'physical'
  });
  $(".hearing").click(function() {
    window.document.location = 'hearing'
  });
  $(".vision").click(function() {
    window.document.location = 'vision'
  });
  $(".assessment").click(function() {
    window.document.location = 'assessment'
  });
  $(".exit").click(function() {
    window.document.location = '<%= student_dashboard_path %>'
  });

</script>

