<br>
<div class="btn-group">
  <%= link_to("Clinic Summary", "/report/index/0" , class: "btn btn-default") %>
  <%= link_to("Patient Summary", "/report/index/1" , class: "btn btn-default") %>
  <%= link_to("Vitals Summary", "/report/index/2" , class: "btn btn-default") %>
</div>
<br>
<br>


<div class="container" style="display:<%= 'none' if @type != '0' %>">
    <div class="panel panel-default">
      <div class="panel-heading">Clinic Summary Report</div>
      <table class="table">
      <tr>
        <th>Date</th>
        <th>Total Parents</th>
        <th>Total Children</th>
        <th>Total Patients</th>
      </tr>
        <tr>
          <td>01-01-2000</td>
          <td>50</td>
          <td>25</td>
          <td>75</td>
        </tr>
        <tr>
          <td>01-02-2000</td>
          <td>45</td>
          <td>20</td>
          <td>65</td>
        </tr>
        <tr>
          <td>01-03-2000</td>
          <td>47</td>
          <td>30</td>
          <td>77</td>
        </tr>
        <tr>
          <td>01-04-2000</td>
          <td>42</td>
          <td>15</td>
          <td>57</td>
        </tr>
        <tr>
          <td>01-05-2000</td>
          <td>43</td>
          <td>11</td>
          <td>54</td>
        </tr>
      </table>
    </div>
  </div>




<div class="container" style="display:<%= 'none' if @type != '1' %>">
    <div class="panel panel-default">
      <div class="panel-heading">Patient Summary Report</div>
      <table class="table">
      <tr>
        <th>Name</th>
        <th>Demographics</th>
        <th>Vitals</th>
        <th>Physical</th>
        <th>Hearing</th>
        <th>Vision</th>
        <th>Assessment</th>
      </tr>
      <tr>
        <td>Teddy Bear</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
      </tr>
      <tr>
        <td>George Burdell</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Briam Fachisthers</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
      </tr>
      <tr>
        <td>An Pham</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Jackson Chan</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
      </tr>
      </table>
    </div>
  </div>


<div class="container" style="display:<%= 'none' if @type != '2' %>">
    <div class="panel panel-default">
      <div class="panel-heading">Vital Summary Report</div>
      <table class="table">
      <tr>
        <th>Name</th>
        <th>Height</th>
        <th>Weight</th>
        <th>BMI</th>
        <th>Blood Pressure</th>
        <th>Hemoglobin</th>
        <th>Blood Glucose</th>
      </tr>
      <tr>
        <td>Teddy Bear</td>
        <td>5 ft 0 in</td>
        <td>150 lbs</td>
        <td>18 %</td>
        <td>160 / 80 mmHg</td>
        <td>20 mg/dL</td>
        <td>45 mg/dL</td>
      </tr>
      <tr>
        <td>George Burdell</td>
        <td>5 ft 11 in</td>
        <td>163 lbs</td>
        <td>19 %</td>
        <td>120 / 85 mmHg</td>
        <td>23 mg/dL</td>
        <td>49 mg/dL</td>
      </tr>
      <tr>
        <td>Briam Fachisthers</td>
        <td>5 ft 8 in</td>
        <td>185 lbs</td>
        <td>16 %</td>
        <td>100 / 60 mmHg</td>
        <td>57 mg/dL</td>
        <td>82 mg/dL</td>
      </tr>
      <tr>
        <td>An Pham</td>
        <td>5 ft 3 in</td>
        <td>125 lbs</td>
        <td>17 %</td>
        <td>112 / 70 mmHg</td>
        <td>44 mg/dL</td>
        <td>62 mg/dL</td>
      </tr>
      <tr>
        <td>Jackson Chan</td>
        <td>5 ft 10 in</td>
        <td>140 lbs</td>
        <td>15 %</td>
        <td>115 / 75 mmHg</td>
        <td>36 mg/dL</td>
        <td>50 mg/dL</td>
      </tr>
      </table>
    </div>
</div>

<%= link_to("Back To Home", root_path, class: "btn btn-default btn-lg active") %>
<button class="btn btn-default btn-lg active">Print</button>
<br>