<br>
<div class="btn-group">
  <%= link_to("Clinic Summary", "/report/index/0" , class: "btn btn-default") %>
  <%= link_to("Patient Summary", "/report/index/1" , class: "btn btn-default") %>
  <%= link_to("Vitals Alert", "/report/index/2" , class: "btn btn-default") %>
</div>
<br>
<br>


<div class="container" style="display:<%= 'none' if @type != '0' %>">
    <div class="panel panel-default">
      <div class="panel-heading">Clinic Summary Report</div>
      <table class="table">
      <tr>
        <th>Date</th>
        <th>Total Parents</th>
        <th>Total Children</th>
        <th>Total Patients</th>
      </tr>
        <tr>
          <td>01-01-2000</td>
          <td>50</td>
          <td>25</td>
          <td>75</td>
        </tr>
        <tr>
          <td>01-02-2000</td>
          <td>45</td>
          <td>20</td>
          <td>65</td>
        </tr>
        <tr>
          <td>01-03-2000</td>
          <td>47</td>
          <td>30</td>
          <td>77</td>
        </tr>
        <tr>
          <td>01-04-2000</td>
          <td>42</td>
          <td>15</td>
          <td>57</td>
        </tr>
        <tr>
          <td>01-05-2000</td>
          <td>43</td>
          <td>11</td>
          <td>54</td>
        </tr>
      </table>
    </div>
  </div>




<div class="container" style="display:<%= 'none' if @type != '1' %>">
    <div class="panel panel-default">
      <div class="panel-heading">Patient Summary Report</div>
      <table class="table">
      <tr>
        <th>Name</th>
        <th>Height</th>
        <th>Weight</th>
        <th>BMI</th>
        <th>Blood Pressure</th>
        <th>Hemoglobin</th>
        <th>Glucose</th>
      </tr>
      <tr>
        <td>Teddy Bear</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
      </tr>
      <tr>
        <td>George Burdell</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Teddy Bear</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Teddy Bear</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
      </tr>
      <tr>
        <td>Teddy Bear</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
        <td>50</td>
      </tr>
      </table>
    </div>
  </div>


<div class="container" style="display:<%= 'none' if @type != '2' %>">
    <div class="panel panel-default">
      <div class="panel-heading">Vital Alert Report</div>
      <table class="table">
      <tr>
        <th>Name</th>
        <% (1..4).each do |row| %>
        <th>Blood Vital <%= row %></th>
        <% end %>
      </tr>
        <% (1..4).each do |row| %>
        <tr>
          <td>test name <%= row %></td>
          <% (1..4).each do |i| %>
           <td>good</td>
          <% end %>
        </tr>
        <% end %>
      </table>
    </div>
</div>

<%= link_to("Back To Home", root_path, class: "btn btn-default btn-lg active") %>
<br>