<!DOCTYPE html>
<html>
<head>
  <title>FarmWorker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <a class="navbar-brand" style="margin: -10px;"><%= image_tag "FarmWorkerLogo.png" %></a>
      <div class="container">
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li id="home"><a href="<%= root_path %>">Home</a></li>
              <% if current_user.role.downcase == "student-bsn" %>
                <li id="student-bsn"><a href="<%= student_dashboard_path %>">Student BSN</a></li>
              <% elsif current_user.role.downcase == "student-msn" %>
                <li id="student-msn"><a href="<%= student_dashboard_path %>">Student MSN</a></li>
              <% elsif current_user.role.downcase == "faculty" %>
                <li id="faculty"><a href="<%= faculty_dashboard_path %>">Faculty</a></li>
              <% elsif current_user.role.downcase == "admin" %>
                <li id="admin"><a href="<%= admin_dashboard_path %>">Admin</a></li>
              <% end %>
            <% end %>
          </ul>
          <% if user_signed_in? %>
            <ul class="nav navbar-nav navbar-right">
              <li><a href=''><%= current_user.username %></a></li>
              <li>
                <%= link_to destroy_user_session_path, :method => :delete do %>
                  <i class="fa fa-sign-out fa-lg" style="color:#777;font-size:19pt;"></i>
                <% end %>
              </li>
            </ul>
          <% else %>
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "navbar-form navbar-right", :role => "form"}) do |f| %>
              <div class="form-group">
                <input name="user[username]" type="text" placeholder="Username" class="form-control">
              </div>
              <div class="form-group">
                <input name="user[password]" type="password" placeholder="Password" class="form-control">
              </div>
              <button type="submit" class="btn btn-success">Sign in</button>
              <% if devise_mapping.rememberable? %>
                <div class="form-group">
                  <div class="checkbox">
                      <label><input type="checkbox"> Remember me</label>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
          
        </div>
      </div>
    </div>
    <div class="main">
      <div class="container">      
        <% if notice %>
          <p class="alert alert-warning"><%= notice %></p>
        <% end %>
        <% if alert %>
          <p class="alert alert-danger"><%= alert %></p>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </div>

</body>
</html>
